* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ECECEC;
}
.material-head {
  background: #4285f4;
  box-shadow: 0 -10px 4px 10px rgba(0, 0, 0, 0.14), 0 -6px 8px 10px rgba(0, 0, 0, 0.28);
  min-height: 56px;
}
.material-head span {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  display: inline-block;
  padding-left: 1px;
  margin: 15px 0 10px 15px;
}
.material-head .back {
  height: 40px;
  width: 40px;
  margin: 8px;
  float: left;
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  cursor: pointer;
}
.ret-view .table-labels {
  font-weight: bold;
  max-width: 500px;
}
.ret-view .table-labels div {
  float: left;
}
.ret-view #ret_container {
  max-width: 500px;
}
.ret-view #ret_container > div {
  padding-top: 5px;
}
.ret-view #ret_container > div input {
  width: 90%;
  padding: 5px;
  font-size: 1em;
  box-sizing: border-box;
}
.ret-view #ret_container > div div {
  float: left;
}
.home-view #labels {
  margin-top: 15px;
  padding-left: 35px;
}
.home-view #labels span {
  margin-right: 15px;
  min-width: 30px;
  max-width: 115px;
  font-weight: bold;
  word-break: keep-all;
}
.home-view #labels span.dynamic {
  margin-right: 35px;
}
.home-view #labels span:nth-child(1) {
  width: 106px;
}
.home-view #labels span:nth-child(2) {
  padding-right: 25px;
}
.home-view #rowholder input {
  padding: 5px;
  font-size: 1em;
  box-sizing: border-box;
  margin-right: 15px;
}
.home-view #rowholder > div {
  padding: 5px;
}
.home-view #rowholder label {
  position: relative;
  top: 4px;
  width: 30px;
}
.home-view #rowholder input:nth-child(2) {
  width: 107px;
}
.home-view #rowholder input:nth-child(3) {
  width: 82px;
}
#more_priceinfomation {
  margin-top: 15px;
  color: #666666;
}
#sidescroll {
  overflow-x: scroll;
  white-space: nowrap;
}
.calcbutton {
  position: fixed;
  bottom: 3%;
  right: 3%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: #ffffff;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  background: #da4437;
}
.calculator {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #ECECEC;
}
.calculator .top {
  height: 40%;
}
@media screen and (max-height: 330px) {
  .calculator .top .input {
    top: 5% !important;
  }
  .calculator .top .result {
    top: 20% !important;
  }
}
.calculator .top .input {
  padding: 2%;
  position: absolute;
  top: 18%;
  right: 0;
  font-size: 35px;
}
.calculator .top .result {
  padding: 2%;
  position: absolute;
  top: 28%;
  right: 0;
  color: #999;
  font-size: 25px;
}
.calculator .top .luk {
  display: inline-block;
  padding: 10px 16px;
  margin: 3%;
  border-radius: 2px;
  background: #FFF;
  cursor: pointer;
}
.calculator .controls {
  position: absolute;
  top: 40%;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  box-shadow: inset 0 12px 12px rgba(0, 0, 0, 0.25);
  background: #4c4c4c;
}
.calculator .controls .actions {
  box-shadow: inset 0 12px 12px rgba(0, 0, 0, 0.25);
  background-color: #666;
  border-left: 1px solid #444;
  width: 25%;
  float: right;
  height: 100%;
}
.calculator .controls .actions .calc-action {
  color: #ffffff;
  height: 25%;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator .controls .numbers {
  width: 74%;
  float: left;
  height: 100%;
}
.calculator .controls .numbers .number {
  width: 33%;
  float: left;
  color: #ffffff;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.calculator .controls .ok {
  width: 40%;
  height: 15%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: center;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action {
  padding: 7px;
  margin: 3px 0;
  font-size: 0.95em;
  background: #da4437 !important;
  color: #ffffff;
  border-radius: 2px;
}
.p15 {
  padding: 15px;
}
.back {
  display: none;
}
.clear {
  clear: both;
}
.jcalculator_wrap {
  display: inline;
}
.jcalculator {
  top: 35px !important;
}
